/* Reset some default styles for the navbar */

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins:wght@100&family=Space+Mono&family=Ubuntu:wght@300&display=swap');

:root {
  --primary-color: #454545;
  --secondary-color: #FF6000;
  --accent-color: #FFA559;
  --background-color: #FFE6C7;
}

body {
  background-color: var(--accent-color);
  color: #333;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Poppins';
  user-select: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  z-index: 1;
}

/* Styles for the logo element */
.logo a {
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  color: black;
  transition: ease 0.2s;
  text-decoration: none;
}

.logo a:hover {
  cursor: pointer;
}

/* Styles for the right-aligned elements */
.right-aligned {
  display: flex;
  margin-right: 20px;
}

.button {
  margin-right: 10px;
  padding: 8px 16px;
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
  border-radius: 4px;
  transition:  0.3s ease;
}

.button:hover {
  filter: drop-shadow(0 0 9px rgba(2, 2, 2, 0.6));
  cursor: pointer;
}

.container {
  margin: 60px auto;
  padding: 20px;
  text-align: center;
}

.card-container,
.recipe-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  background-color: #f2f2f2;
  width: 250px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.preview {
  font-size: 80%;
}

.openModal,
.closeModal {
  background-color: #f58742;
  border: none;
  border-radius: 0px 0px 2px 2px;
  transition: ease 0.2s;
  padding: 5px 30px;
  color: #000000;
  font-weight: 900;
  max-width: 300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.openModal:hover,
.closeModal:hover {
  background-color: rgba(229, 119, 60, 0.95);
  cursor: pointer;
}

dialog {
  background-color: rgba(0, 0, 0, 0.9);
  width: 80%;
  max-width: 400px;
  max-height: 80vh;
  padding: 20px;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: none;
  opacity: 0;

}

dialog[open] {
  opacity: 1;
  display: flex;
  flex-direction: column;
}

dialog h2,
dialog h3,
dialog p {
  text-align: center;
  margin: 0;
  color: #fff;
}

dialog img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  margin-bottom: 10px;
  object-fit: cover;
}

dialog ul,
ol {
  text-align: left;
}

h2,
h3,
p {
  margin: 0;
  color: #333;
  font-weight: 800;
} 

h3 {
  text-decoration: underline;

}

.ingredients,
.instructions {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Light mode styles */
.card {
  position: relative;
  padding: 0;
  border-radius: 4px;
  margin: 10px;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.openModal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .openModal {
  opacity: 1;
}

button {
  padding: 5px;
  border-radius: 3px;
  border: none;
}

button:hover {
  cursor: pointer;
}

input{
  outline: none;
}
