:root {
  --primary-color: #454545;
  --secondary-color: #FF6000;
  --accent-color: #FFA559;
  --background-color: #FFE6C7;
}

* {
  font-weight: 800;
  transition: ease 0.2s;
}

/* Recipe container */
#recipe-container {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 20px auto;
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--background-color);
  text-align: center;
}

/* Title and author inputs */
#r-title,
#r-author,
#r-img {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

/* Ingredient and instruction inputs */
#r-ingredient,
#r-instruction {
  width: 85%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  flex-grow: 1;
  box-sizing: border-box;
}

/* Ingredient and instruction add buttons */
#ingred-click,
#instru-click {
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

#ingred-click:hover,
#instru-click:hover {
  background-color: var(--accent-color);
}

/* Publish button */
#r-submit {
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

#r-submit:hover {
  background-color: var(--accent-color);
  color: black;
}

ul,
ol {
  display: flex;
  justify-content: center;
  padding: 0;
}

ul,
ol {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  justify-content: center;
  padding: 0;

  text-align: center;

  list-style-type: none;
}


ul li,
ol li {
  background-color: var(--background-color);
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.1s;
  color: var(--primary-color);
}

ol li {
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  color: var(--background-color);
}

li:hover {
  cursor: pointer;
}

input {
  transition: ease 0.2s;
}

input:hover,
input[type="text"]:hover,
input[type="url"]:hover {
  box-shadow: 1px 1px 0.5px 1.5px var(--secondary-color);
}

input[type="text"],
input[type="url"] {
  color: #333;
  font-weight: 700;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid #555;
  padding: 5px;
}

.dropdown button {
  background-color: var(--accent-color);
  margin: 5px;
  padding:2px;
  font-size: 0.6em;
}

.dropdown {
  display: none;
  align-items: flex-end;
  flex-wrap: nowrap; /* Modified to prevent wrapping */
  overflow-x: auto; /* Added to enable horizontal scrolling */
}

li:hover .dropdown {
  display: flex;
  justify-content: center;
  transition: ease 0.2s;
}

.dropdown button:hover {
  filter: drop-shadow(0 0 9px rgba(229, 124, 35, 0.6));
}



.white {
  color: white;
}